.git
.gitignore
.github
.circleci
node_modules
.nuxt
.output
dist
.env
.env.*
logs
*.log
coverage
monocart-report
playwright-report
test-results
.vitest
.vscode
.idea
*.spec.js
*.md
docs
.DS_Store
Dockerfile
build-info
swagger/
docker-compose*.yml
scripts/
*.swp
*.swo